.DS_Store
**/__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
.ENV
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
__pycache__/
*.mo
*.pot
.pytest_cache/
.pytest/
.pytype/
.coverage
htmlcov/
.hypothesis/
.vscode/
.idea/
*.swp
*.swo
*~
resources/default_skin/temp_extracted_skin/**
dist/**
build/**
test_data/**

